// $body: 'Work Sans', Helvetica, sans-serif;
// $body: 'Playfair Display', serif;`
// $body: 'Montserrat', Helvetica, sans-serif;
$body: 'Baskerville', Georgia, Garamond, Times, serif;
$heading: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
$test: #e8e8e8;
$test2: #fff;
$sidecolor: #000;
$c:#3E92CC;
$m:#D8315B;
$m2:#6A0136;
$b:#0A2463;
body {
    font-family: $body;
    font-size: 1em;
    font-weight: 400;
      background: $test2;
    // background: #f1dbff; /* Old browsers */
    // background: -moz-linear-gradient(top, #f1dbff 1%, #c4f9ff 98%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, #f1dbff 1%,#c4f9ff 98%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, #f1dbff 1%,#c4f9ff 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1dbff', endColorstr='#c4f9ff',GradientType=0 ); /* IE6-9 */
    // background-attachment:fixed;
}
b {
    font-weight: 700;
}

a {
  color: $c;
  &:hover,&:active {
    color: $b;
  }
}
#container {
    width: 100%;
    height: 100vh;
    position: relative;
    @media screen and (min-width:768px) {
        width: 100%;
        // margin: auto;
        padding-top: 0;
    }
}
#sidebar {
    padding: 1em;
    width: 100%;
    display: block;
    color: $sidecolor;
    // background-color: $test;
    text-align: center;
    height: 30vh;
    overflow: hidden;
    @media screen and (min-width:768px) {
        width: 25%;
        display: inline-block;
        height: 100vh;
        float: left;
        padding: 1em;
        position:fixed;
        top:0;
        left:0;
    }
    #left {
        width: 40%;
        display: inline-table;
        #logo {
            text-align: center;
            display: inline-block;
            width: 140px;
            height: 140px;
            @media screen and (min-width:768px) {
                width: 100%;
            }
            img {
                max-width: 100%;
            }
        }
        #social {
            margin-top: 0.2em;
            img {
                width: 35px;
                height: 35px;
            }
            @media screen and (min-width:768px) {
                margin: 2em;
            }
        }
        @media screen and (min-width:768px) {
            width: 100%;
            display: block;
        }
    }
    #right {
        width: 58%;
        float: right;
        margin: 1.4em auto;
        @media screen and (min-width:768px) {
            width: 100%;
            margin: auto;
            float: none;
        }
        #description {
            #zara {
                display: block;
                font-size: 1.5em;
                font-weight: bold;
                margin: 0.3em;
                color: $m;
                font-family:$heading;
                @media screen and (min-width:768px) {
                    margin: 0.5em;
                }
            }
            #text {
                width: 100%;
                margin: auto;
                @media screen and (min-width:768px) {
                    width: 90%;
                    margin: 2em auto;
                }
            }
        }
        #affiliates {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    @media screen and (min-width:768px) {
                        display: block;
                    }
                }
            }
        }
    }
}
#blog {
    padding: 1.2em;
    position: absolute;
    top: 30vh;
    // min-height:100vh;
    width: 100%;
    display: inline-block;
    background-color: $test2;
    @media screen and (min-width:768px) {
        width: 70%;
        // overflow: auto;
        top:0;
        left:25%;
        min-height:100vh;
    }
}
